<!DOCTYPE html>
<html>

<head>
    <title>Bienvenue</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/homepageStyle.css' />
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
        rel="stylesheet">
</head>

<body>
    <!-- nav bar -->
    <%- include('navbar'); %>
    <!-- end nav-bar -->

    <div class="principal">
        <div class="content_principal">
            <div class="background_input">
                <h4 id="h4">One-way ticket</h4>

                <div>
                    <form class="journey_form" action="#" method="POST">
                        <input class="input_home" type="text" name="destination" placeholder="From: Paris,...">
                        <input class="input_home" type="text" name="arrival" placeholder="To: Lille,...">
                        <input class="input_home input_date" type="date" name="date" value="2022-04-14">
                        <button class="input_home button_home" type="submit">Go</button>
                    </form>
                </div>
            </div>
            <img class="image_home" src="/images/landmark.png" alt="">

        </div>
    </div>


</body>

</html>