<nav>
    <div class="left_side">
        <a href="/home" class="left_side_content">
            <img src="/images/train.png" alt="logo">
            <h4 class="nom_logo">Ticketac</h4>
        </a>
    </div>
    <div class="right_side">
        <a class="a_navbar connection_navbar" href="/home">Connections</a>
        <a class="a_navbar" href="/lastTrips"> My last trips</a>
        <a href="/basket"><i class="fa-solid fa-basket-shopping"></i></a>
        <a href="/users/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
    </div>
</nav>