<nav>
    <div class="left_side">
        <a href="/home" class="left_side_content">
            <img src="/images/train.png" alt="logo">
            <h4>Ticketac</h4>
        </a>
    </div>
    <div class="right_side">
        <a class="a_navbar connection_navbar" href="/home">Connections</a>
        <a class="a_navbar" href="/lastTrips"> My last trips</a>
    </div>
</nav>