.contentPage {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentLogin {
    width: 75%;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.title {
    color: #FFF;
    text-align: center;
}

.signInForm, .signUpForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
}

input {
    height: 40px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 3px;
    border: none;
    padding-left: 10px;
    outline: none;
}

button {
    height: 40px;
    width: 75px;
    color: #FFF;
    background-color: #DA3849;
    border: none;
    border-radius: 3px;
}

button:hover {
    cursor: pointer;
    background-color: #FF8080;
}